*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  font-family: Rubik;
  height: 100%;
  line-height: 1;
  font-size: 100%;
  font-size: 24px;
  color: white;
  background-color: #d9f0f1;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #45322e;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*end of starting*/
[class*="__container"] {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 15px;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.title {
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 0px 0px 15px 0px;
}

.text {
  line-height: 1.2rem;
}

.header__container {
  position: relative;
}

.header__navi {
  background-color: #e6cd54;
  color: #ffffff;
  padding: 18px;
  border-radius: 0 0 25px 25px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-weight: 500;
  letter-spacing: normal;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5%;
  height: 100%;
  font-size: 0.8rem;
}

@media (min-width: 376px) {
  .header__list {
    gap: 10%;
    font-size: inherit;
  }
}

.header__body {
  margin: 10px 0px 0px 0px;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ff812b;
  border-radius: 280px 75% 280px 65%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 425.98px) {
  .header__body {
    font-weight: bolder;
    color: #292748;
  }
}

@media (max-width: 424.98px) {
  .header__body {
    font-size: 0.8rem;
    text-align: center;
    padding: 25px 5px;
  }
}

.header__photo img {
  border-radius: 50%;
}

@media (max-width: 767.98px) {
  .header__photo img {
    height: 170px;
  }
}

@media (max-width: 424.98px) {
  .header__photo {
    padding: 0px 0px 20px 0px;
  }
}

.header__title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title h1 {
  font-size: 2rem;
}

@media (max-width: 767.98px) {
  .header__title h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 424.98px) {
  .header__title h1 {
    font-size: 1rem;
  }
}

.header__cv {
  text-transform: uppercase;
  position: relative;
  padding: 0px 0px 30px 0px;
}

.header__cv::after {
  content: "";
  top: 50%;
  left: 0;
  width: 60px;
  height: 5px;
  z-index: 22;
  background-color: #ffffff;
  border-radius: 22px;
  background-size: 100% 100%;
  position: absolute;
}

@media (max-width: 424.98px) {
  .header__cv::after {
    left: 30%;
  }
}

.header__name {
  padding: 0px 0px 10px 0px;
}

.header__subtext {
  word-wrap: break-word;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__body {
  max-width: 800px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0px 0px 0px;
}

@media (min-width: 425.98px) {
  .about__text {
    padding: 15px 0px 0px 50px;
  }
}

.skills-educ-contacts__container {
  padding: 40px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills-educ-contacts__container section {
  padding: 0px 0px 22px 0px;
}

.list-contacts li {
  padding-bottom: 12px;
}

.list-contacts__item {
  padding: 0px 0px 0px 30px;
}

.list-contacts__adress {
  background: url(../img/contacts/gps.svg) no-repeat;
  background-size: 25px;
}

.list-contacts__telegram {
  background: url(../img/contacts/telegram.svg) no-repeat;
  background-size: 25px;
}

.list-contacts__github {
  background: url(../img/contacts/github.svg) no-repeat;
  background-size: 25px;
}

.list-contacts__email {
  background: url(../img/contacts/email.svg) no-repeat;
  background-size: 25px;
}

.list-contacts__discord {
  background: url(../img/contacts/discord.svg) no-repeat;
  background-size: 25px;
}

.skills {
  -ms-grid-column-align: center;
      justify-self: center;
}

.skills__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.list-skills li {
  padding: 0px 0px 12px 30px;
}

.list-skills li a {
  cursor: default;
  pointer-events: none;
}

.list-skills__html {
  background: url(../img/skills/html.svg) no-repeat;
  background-size: 25px;
}

.list-skills__css {
  background: url(../img/skills/css.svg) no-repeat;
  background-size: 25px;
}

.list-skills__scss {
  background: url(../img/skills/scss.svg) no-repeat;
  background-size: 25px;
}

.list-skills__bem {
  background: url(../img/skills/checkbox.svg) no-repeat;
  background-size: 25px;
}

.list-skills__git {
  background: url(../img/skills/git.svg) no-repeat;
  background-size: 25px;
}

.list-skills__js {
  background: url(../img/skills/javascript.svg) no-repeat;
  background-size: 25px;
}

.list-skills__figma {
  background: url(../img/skills/figma.svg) no-repeat;
  background-size: 25px;
}

.education__body {
  max-width: 300px;
  line-height: 120%;
}

.code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.code__body {
  font-size: 0.7rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.code .code-pre {
  padding: 7px;
  background-color: #201d1da6;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 12px 0px #548af7;
          box-shadow: 5px 5px 12px 0px #548af7;
}

@media (max-width: 767.98px) {
  .code .code-pre {
    font-size: 0.6rem;
  }
}

@media (max-width: 500.98px) {
  .code .code-pre {
    font-size: 0.45rem;
  }
}

@media (max-width: 374.98px) {
  .code .code-pre {
    font-size: 0.38rem;
  }
}

.code__func {
  color: dodgerblue;
}

.code__func-name {
  color: #e6cd54;
}

.code__yel-brackets {
  color: gold;
}

.code__if {
  color: #761bb8;
}

.code__variable {
  color: lightblue;
}

.code__variable2 {
  color: #11aee2;
}

.code__str {
  color: #ff812b;
}

.code__bool {
  color: #619edb;
}

.code__code {
  padding: 55px 0px 0px 0px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.projects__header {
  padding-top: 15px;
}

.projects__title {
  padding-bottom: 5px;
}

.projects__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
}

@media (max-width: 900.98px) {
  .projects__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}

@media (max-width: 600.98px) {
  .projects__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 424.98px) {
  .projects__column {
    padding: 10px 0;
  }
}

.projects__item {
  position: relative;
}

.projects__image-link {
  display: block;
  padding: 0 0 60% 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.projects__image-link:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  z-index: 5;
}

.projects__image {
  border-radius: 15px;
}

.projects__image:hover {
  -webkit-box-shadow: 0px 0px 32px 24px rgba(84, 139, 247, 0.4);
  box-shadow: 0px 0px 32px 24px rgba(84, 139, 247, 0.4);
}

.projects__name-link {
  display: inline-block;
  padding: 10px 0px 0px 0px;
}

.projects__name {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.8rem;
  color: aliceblue;
  font-weight: lighter;
}

.footer__container {
  padding-top: 20px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e6cd54;
  border-radius: 25px 25px 0 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__item {
  cursor: pointer;
  display: block;
}

.footer__item:not(:last-child) {
  padding: 0px 30px 0px 0px;
}

@media (max-width: 424.98px) {
  .footer__item:not(:last-child) {
    padding: 0px 10px 0px 0px;
  }
}
